<div class="login-bg"></div>


<div class="login-box">
  <a routerLink="/" class="back">
    <i class="fa-solid fa-circle-chevron-left"></i>
  </a>
  <h3><strong>ĐĂNG KÝ</strong></h3>
  <form [formGroup]="registerform" (ngSubmit)="proceedregister()">
    <div class="d-flex justify-content-between">
      <div class="user-box">
        <input formControlName="firstname" type="text" name="firstname" required>
        <label for="firstname">Họ</label>
      </div>
      <div class="user-box">
        <input formControlName="name" type="text" name="name" required>
        <label for="name">Tên</label>
      </div>
    </div>
    <div class="user-box">
      <input formControlName="id" type="text" name="id" required>
      <label for="id">Tên Tài Khoản</label>
    </div>
    <div class="user-box">
      <input formControlName="password" type="password" name="password" required>
      <label for="password">Mật Khẩu</label>
    </div>
    <div class="user-box">
      <input formControlName="email" type="text" name="email" required>
      <label for="email">Email</label>
    </div>
    <input type="submit" value="Xác Nhận" class="confirm btn btn-pill text-white btn-block btn-primary">
  </form>
</div>