.login-bg {
    background-image: url('https://images.unsplash.com/photo-1523309375637-b3f4f2347f2d?auto=format&fit=crop&q=80&w=1000&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxleHBsb3JlLWZlZWR8Nnx8fGVufDB8fHx8fA%3D%3D');
    background-size: cover;
    height: 100vh;
    width: 100%;
}

.back {
    float: left;
    font-size: 20px;
    color: black;
}

.back:hover {
    color: rgb(79, 77, 77) !important;
}

.login-box h3 {
    margin-bottom: 30px;
    color: black;
}

.login-box {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 540px;
    height: auto;
    padding: 60px;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.6);
    background-color: white;
    border-radius: 10px;
    text-align: center;
}

.login-box h3 {
    margin-bottom: 30px;
}

.user-box {
    position: relative;
    margin-bottom: 30px;
}

.user-box input {
    width: 100%;
    padding: 10px 0;
    border: none;
    border-bottom: 1px solid #bdb8b8;
    outline: none;
    background: transparent;
}

.user-box label {
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px 0;
    font-size: small;
    color: #bdb8b8;
    pointer-events: none;
    transition: 0.5s;
}

.user-box input:focus~label,
.user-box input:valid~label {
    top: -20px;
    left: 0;
    font-size: smaller;
    color: #bdb8b8;
}

form .confirm {
    width: 100%;
    height: 40px;
    background-color: black;
    border: black;
    color: white !important;
    margin-bottom: 10px;
    transition: all 0.3s;
}

form .confirm:hover {
    background-color: white;
    border: 1px solid black;
    color: black !important;
}