<!-- <div class="login-box">
    <a routerLink="/login" class="back">
        <i class="fa-solid fa-circle-chevron-left"></i>
    </a>
    <h3><strong>QUÊN MẬT KHẨU</strong></h3>
    <form action="">
        <div class="user-box">
            <input type="text" name="username" required>
            <label>Email</label>
        </div>
        <input type="submit" value="Xác Nhận" class="confirm btn btn-pill text-white btn-block btn-primary">
    </form>
</div> -->
<!-- 
<div>
    <label for="userId">User ID:</label>
    <input type="text" id="userId" [(ngModel)]="userId" />

    <label for="newPassword">New Password:</label>
    <input type="password" id="newPassword" [(ngModel)]="newPassword" />
    <button (click)="changePassword()">Change Password</button>
</div> -->