<div id="carouselExampleFade" class="carousel slide carousel-fade" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="https://c0.wallpaperflare.com/preview/24/300/958/apparel-clothing-running-shoe-footwear.jpg"
          class="d-block " alt="...">
      </div>
      <div class="carousel-item">
        <img src="https://c0.wallpaperflare.com/preview/943/148/889/nike-air-jordan-1-shoes-near-chain-link-fence.jpg"
          class="d-block " alt="...">
      </div>
      <div class="carousel-item">
        <img src="https://c0.wallpaperflare.com/preview/943/402/376/canada-abbotsford-air-force-1-white.jpg"
          class="d-block " alt="...">
      </div>
      <div class="carousel-item">
        <img src="https://c0.wallpaperflare.com/preview/37/157/160/unpaired-teal-air-jordan-1-shoe.jpg"
          class="d-block " alt="...">
      </div>
      <div class="carousel-item">
        <img src="https://c1.wallpaperflare.com/preview/238/194/484/female-legs-feet-shoes.jpg"
          class="d-block " alt="...">
      </div>
      <div class="carousel-item">
        <img src="https://c0.wallpaperflare.com/preview/28/600/957/pair-of-black-white-and-red-air-jordan-1-shoes.jpg"
          class="d-block " alt="...">
      </div>
      <div class="carousel-item">
        <img src="https://c1.wallpaperflare.com/preview/585/370/573/various-footwear-shoe-shoes.jpg"
          class="d-block " alt="...">
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
  
  
  