<app-navigation></app-navigation>

<div class="insert-layer d-flex align-items-center">
    <a routerLink="/home/{{userId}}"><i class="fa-solid fa-angle-left"></i></a>
    <h2 style="margin-left: 100px;"><strong>Quản Lý Tài Khoản</strong></h2>
</div>

<table>
    <tr>
        <th>STT</th>
        <th>Họ</th>
        <th>Tên</th>
        <th>Tên Tài Khoản</th>
        <th>Email</th>
        <th>Vai Trò</th>
        <th>Trạng Thái</th>
        <th>Quản Lý</th>
    </tr>
    <tr *ngFor="let item of userList, let i = index ">
        <td>{{i+1}}</td>
        <td>{{item.firstname}}</td>
        <td>{{item.name}}</td>
        <td>{{item.id}}</td>
        <td>{{item.email}}</td>
        <td>{{item.role}}</td>
        <td [ngStyle]="{'color': FormatColorActive(item.isactive)}"><strong>{{FormatActive(item.isactive)}}</strong></td>
        <td style="text-align: center;">
            <button *ngIf="item.role != 'admin' " type="button" class="btn" data-bs-toggle="modal"
                data-bs-target="#exampleModal" (click)="openModal(item.id)">
                Cập Nhập
            </button>

            <div class="modal fade" id="exampleModal" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h1 class="modal-title fs-5" id="exampleModalLabel">Cập Nhập User</h1>
                        </div>
                        <form action="" [formGroup]="registerform" (ngSubmit)="edit()">
                            <div class="modal-body">
                                <label for="role" style="margin-right: 10px;">Vai Trò: </label>
                                <select formControlName="role">
                                    <option value="" disabled>Chọn Vai Trò</option>
                                    <option *ngFor="let check of roleList" disabled [value]="check.code">{{check.name}}
                                    </option>
                                </select>
                                <br>
                                <br>
                                <label for="" style="margin-right: 10px;">Trạng Thái Hoạt Động: </label>
                                <input formControlName="isactive" checked class="check" type="checkbox">
                            </div>
                            <div class="modal-footer">
                                <button type="submit" class="btn" data-bs-dismiss="modal">Lưu Thay Đổi</button>
                                <button type="button" class="btn" data-bs-dismiss="modal">Đóng</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </td>
    </tr>
</table>