@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@500&display=swap');

h2,
h1,
h3,
h4,
a,
span,
p {
    font-family: 'Nunito', sans-serif;
}

.insert-layer {
    margin-top: 40px;
    margin-bottom: 40px;
    margin-left: 50px;
    height: 50px;
}

.insert-layer a {
    padding: 20px;
    border-radius: 5px;
    color: black;
    border: 1px solid #ccc;
    transition: all .3s;
}

.insert-layer a:hover {
    border: 1px solid black;
}

table {

    border-collapse: collapse;
    width: 80%;
    margin: auto;
}

table,
th,
td {
    border: 1px solid black;
}

th,
td {
    padding: 10px;
    text-align: left;
}

th {
    background-color: black;
    color: white;
}

tr:nth-child(even) {
    background-color: #dcdada;
}

.btn {
    background-color: black;
    color: white;
    transition: all .3s;

}

.btn:hover {
    background-color: white;
    border: 1px solid black;
    color: black;
}

.check {
    position: relative;
    width: 20px;
    height: 20px;
    border-radius: 2px;
    appearance: none;
    background-color: #bbb;
    transition: all .3s;
}

.check::before {
    content: '';
    position: absolute;
    border: solid #fff;
    display: block;
    width: .3em;
    height: .6em;
    border-width: 0 .2em .2em 0;
    z-index: 1;
    opacity: 0;
    right: calc(50% - .2em);
    top: calc(50% - .4em);
    transform: rotate(0deg);
    transition: all .3s;
    transform-origin: center center;
}

.check:checked {
    animation: a .3s ease-in forwards;
    background-color: rgb(120, 190, 120);
}

.check:checked::before {
    opacity: 1;
    transform: rotate(405deg);
}

.fa-eye, .fa-pen-to-square, .fa-trash-can{
    font-size: larger;
    text-align: center;
}

.fa-eye:hover, .fa-pen-to-square:hover, .fa-trash-can:hover{
    cursor: pointer;
}

th{
    text-align: center;
}

@keyframes a {
    0% {
        opacity: 1;
        transform: scale(1) rotateY(0deg);
    }

    50% {
        opacity: 0;
        transform: scale(.8) rotateY(180deg);
    }

    100% {
        opacity: 1;
        transform: scale(1) rotateY(360deg);
    }
}